<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='대시보드-SAECHAN-LAB')"></head>
<body class="dashboard-page">
<div th:replace="fragments/header :: header"></div>

<div class="ui container">
  <div class="ui segment">
    <h3 class="ui header">대시보드</h3>
  </div>

  <!-- 기능 목록 카드 -->
  <div class="ui segment">
    <h3 class="ui header">UTILITY APPLICATION</h3>
    <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <i class="github icon"></i> 깃헙 이슈 도우미
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              커밋, 브랜치 자동 생성
            </div>
          </div>
          <div class="extra content">
            <a href="/issue-helper" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <i class="comment alternate icon"></i> OpenAI 챗봇
            </div>
            <div class="meta">
              <span class="category">AI Assistant</span>
            </div>
            <div class="description">
              OpenAI GPT
            </div>
          </div>
          <div class="extra content">
            <a href="https://chat.suhsaechan.me" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <i class="chrome icon"></i> 원격 크롬
            </div>
            <div class="meta">
              <span class="category">Server Chrome</span>
            </div>
            <div class="description">
              외부 크롬 원격 접속
            </div>
          </div>
          <div class="extra content">
            <a href="https://web.suhsaechan.me" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <i class="language icon"></i>커스텀 번역기
            </div>
            <div class="meta">
              <span class="category">커스텀 API</span>
            </div>
            <div class="description">
              새찬 커스텀 번역기
            </div>
          </div>
          <div class="extra content">
            <a href="/translator" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- CUSTOM CHATGPT 섹션 -->
  <div class="ui segment">
    <h3 class="ui header">CUSTOM CHATGPT</h3>
    <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/소만사_로고.png" alt="소만사 로고" class="ui mini image u-margin-right-tiny">
              CM 태그 생성기
            </div>
            <div class="meta">
              <span class="category">Somansa 소만사</span>
            </div>
            <div class="description">
              다국어 태깅 시스템 어시스턴트
            </div>
          </div>
          <div class="extra content">
            <a href="https://chatgpt.com/g/g-67318f071e688190a355c62acf5033de-cm-taegeu-saengseonggi"
               class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/소만사_로고.png" alt="소만사 로고" class="ui mini image u-margin-right-tiny">
              CM 브랜치명 생성기
            </div>
            <div class="meta">
              <span class="category">Somansa 소만사</span>
            </div>
            <div class="description">
              일감 제목, 번호 -> 브랜치이름, 커밋메시지
            </div>
          </div>
          <div class="extra content">
            <a href="https://chatgpt.com/g/g-6732dd6bcb7481908383eadad53fef7a-cm-beuraencimyeong-saengseonggi" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/소만사_로고.png" alt="소만사 로고" class="ui mini image u-margin-right-tiny">
              일감 PPT 계획서 도우미
            </div>
            <div class="meta">
              <span class="category">Somansa 소만사</span>
            </div>
            <div class="description">
              일감 정보 -> 계획서 템플릿 생성
            </div>
          </div>
          <div class="extra content">
            <a href="https://chatgpt.com/g/g-675a4ac37ae081918b3f3239c0432672-somansa-pptgyehoegseo-saengseonggi" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/소만사_로고.png" alt="소만사 로고" class="ui mini image u-margin-right-tiny">
              SpringBooster 전략 도우미
            </div>
            <div class="meta">
              <span class="category">Somansa 소만사</span>
            </div>
            <div class="description">
              스프링 MVC 코드개선을 위한 전략 PPT 제시
            </div>
          </div>
          <div class="extra content">
            <a href="https://chatgpt.com/g/g-67ce2f8e22808191a917c325d33b5e91-springbooster" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <i class="code icon"></i> Swagger DOCS 도우미
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              Docs 생성 (Controller, Service, DTO 필요)
            </div>
          </div>
          <div class="extra content">
            <a href="https://chatgpt.com/g/g-67a7a4cd31b48191a2396587469393d1-swaggerdocmaster" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEJONG-MALSAMI 섹션 -->
  <div class="ui segment">
    <h3 class="ui header">SEJONG-MALSAMI</h3>
    <div class="ui three column stackable grid">

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/세종말싸미_로고.png" alt="세종말싸미 로고" class="ui mini image u-margin-right-tiny">
              메인 페이지
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              세종말싸미 메인 페이지
            </div>
          </div>
          <div class="extra content">
            <a href="https://test.sejong-malsami.co.kr" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/세종말싸미_로고.png" alt="세종말싸미 로고" class="ui mini image u-margin-right-tiny">
              Swagger Docs
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              세종말싸미 Swagger Docs
            </div>
          </div>
          <div class="extra content">
            <a href="https://api.sejong-malsami.co.kr/docs/swagger-ui/index.html#/" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/세종말싸미_로고.png" alt="세종말싸미 로고" class="ui mini image u-margin-right-tiny">
              관리자 페이지
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              세종말싸미 관리자 페이지
            </div>
          </div>
          <div class="extra content">
            <a href="https://api.sejong-malsami.co.kr" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- PLANE ACCIDENT FINDER 섹션 -->
  <div class="ui segment">
    <h3 class="ui header">PLANE ACCIDENT FINDER</h3>
    <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/PLANE_ACCIDENT_FINDER_로고.png" alt="PLANE_ACCIDENT_FINDER_로고" class="ui mini image u-margin-right-tiny">
              DOWNLOAD APK
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              [CICD] APK Download Page
            </div>
          </div>
          <div class="extra content">
            <a href="http://suh-project.synology.me/plane-accident-finder/" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/PLANE_ACCIDENT_FINDER_로고.png" alt="PLANE_ACCIDENT_FINDER_로고" class="ui mini image u-margin-right-tiny">
              (HTTPS) Swagger Docs
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              Plane Accident Finder Swagger Docs
            </div>
          </div>
          <div class="extra content">
            <a href="https://api.romrom.xyz/docs/swagger-ui/index.html" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/PLANE_ACCIDENT_FINDER_로고.png" alt="PLANE_ACCIDENT_FINDER_로고" class="ui mini image u-margin-right-tiny">
              (HTTP) Swagger Docs
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              Plane Accident Finder Swagger Docs
            </div>
          </div>
          <div class="extra content">
            <a href="http://suh-project.synology.me:8082/docs/swagger-ui/index.html#/" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ROM ROM 섹션 -->
  <div class="ui segment">
    <h3 class="ui header">ROM ROM</h3>
    <div class="ui three column stackable grid">

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/ROMROM_로고.png" alt="ROM ROM 로고" class="ui mini image u-margin-right-tiny">
              DOWNLOAD APK
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              [CICD] APK Download Page
            </div>
          </div>
          <div class="extra content">
            <a href="http://suh-project.synology.me/romrom" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/ROMROM_로고.png" alt="ROM ROM 로고" class="ui mini image u-margin-right-tiny">
              HTTPS Swagger Docs
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              ROM ROM HTTPS Swagger Docs
            </div>
          </div>
          <div class="extra content">
            <a href="https://api.romrom.xyz/docs/swagger-ui/index.html" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">
              <img src="/images/ROMROM_로고.png" alt="ROM ROM 로고" class="ui mini image u-margin-right-tiny">
              HTTP Swagger Docs
            </div>
            <div class="meta">
              <span class="category">SUH-PROJECT</span>
            </div>
            <div class="description">
              ROM ROM HTTP Swagger Docs
            </div>
          </div>
          <div class="extra content">
            <a href="http://suh-project.synology.me:8085/docs/swagger-ui/index.html#/" class="ui blue fluid button">
              <i class="arrow alternate circle right icon u-margin-right-tiny"></i>
              <span>바로가기</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>