name: SUH-PROJECT-UTILITY-CICD

on:
  push:
    branches:
      - main
      - deploy
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create application.yml from secret
        run: |
          mkdir -p Suh-Web/src/main/resources
          echo "${{ secrets.APPLICATION_YML }}" > Suh-Web/src/main/resources/application.yml

      - name: Build with Gradle
        run: ./gradlew clean build -x test -Dspring.profiles.active=prod

      - name: Docker setup
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/suh-project-utility-container:${{ github.ref_name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move Docker cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 2022
          script: |
            set -e

            echo "환경 변수 설정 중..."
            export PATH=$PATH:/usr/local/bin
            export PW=${{ secrets.SERVER_PASSWORD }}
            CONTAINER_NAME="suh-project-utility"
            PORT=8090
            
            echo "application.yml 파일 원격 업로드 중..."
            echo $PW | sudo -S mkdir -p /volume1/projects/suh-project-utility/github_secret
            echo "${{ secrets.APPLICATION_YML }}" | sudo tee /volume1/projects/suh-project-utility/github_secret/application.yml > /dev/null
            echo "application.yml 업로드 완료"

            echo "컨테이너 이름: $CONTAINER_NAME"
            echo "포트: $PORT"

            echo "도커 이미지 풀: ${{ secrets.DOCKERHUB_USERNAME }}/suh-project-utility-container:main"
            echo $PW | sudo -S docker pull ${{ secrets.DOCKERHUB_USERNAME }}/suh-project-utility-container:main
            
            echo "컨테이너 $CONTAINER_NAME 존재 여부 확인 중..."
            if sudo docker ps -a --format '{{.Names}}' | grep -Eq "^${CONTAINER_NAME}$"; then
              echo "컨테이너 $CONTAINER_NAME 이(가) 존재합니다. 중지 및 삭제 중..."
              echo $PW | sudo -S docker rm -f $CONTAINER_NAME
              echo "컨테이너 $CONTAINER_NAME 이(가) 삭제되었습니다."
            else
              echo "존재하는 컨테이너 $CONTAINER_NAME 이(가) 없습니다."
            fi

            echo "새로운 컨테이너 $CONTAINER_NAME 실행 중..."
            echo $PW | sudo -S docker run -d --network selenium-chrome-network -p ${PORT}:8080 --name $CONTAINER_NAME \
              -e TZ=Asia/Seoul \
              -e SPRING_PROFILES_ACTIVE=prod \
              -v /etc/localtime:/etc/localtime:ro \
              -v /volume1/projects/suh-project-utility:/mnt/suh-project-utility \
              -v /volume1/web/suh-project-utility/upload:/app/uploads \
              ${{ secrets.DOCKERHUB_USERNAME }}/suh-project-utility-container:main

            echo "배포가 성공적으로 완료되었습니다."
